certifi==2019.3.9
chardet==3.0.4
idna==2.8
joblib==0.13.2
numpy==1.16.3
Pillow==6.2.0
PyAutoGUI==0.9.42
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.20
PySSTV==0.4.1
python-vlc==3.0.6109
pyttsx3==2.7
PyTweening==1.0.3
requests==2.21.0
scikit-learn==0.21.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
UNKNOWN==0.0.0
urllib3==1.24.3
